#include "Base.xcconfig"

// Build Options
DEBUG_INFORMATION_FORMAT = dwarf
ENABLE_TESTABILITY = YES
VALIDATE_PRODUCT = NO

// Deployment
DEPLOYMENT_POSTPROCESSING = NO
COPY_PHASE_STRIP = NO
STRIP_STYLE = debugging

// Linking
DEAD_CODE_STRIPPING = NO

// Code Generation
LLVM_LTO = NO
CLANG_ENABLE_CODE_COVERAGE = YES
GCC_OPTIMIZATION_LEVEL = 0

// Preprocessing
ENABLE_NS_ASSERTIONS = YES
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) DEBUG=1 WCDB_DEBUG=1 WCDB_QUICK_TESTS=1

// Swift Compiler - Code Generation
SWIFT_COMPILATION_MODE = singlefile
SWIFT_OPTIMIZATION_LEVEL = -Onone

// User-Defined
BITCODE_GENERATION_MODE = marker

