#include "../../sqlcipher/macosx/SQLite.xcconfig"

// Architectures
SUPPORTED_PLATFORMS = macosx iphonesimulator iphoneos appletvos appletvsimulator

// Packaging
INFOPLIST_FILE = $(SRCROOT)/support/Info.plist

// Preprocessing
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(SQLITE_PREPROCESSOR_DEFINITIONS) WCDB_TESTS=1

// Apple Clang - Language - Objective-C
GCC_ENABLE_OBJC_EXCEPTIONS = YES

// Testing
TEST_HOST[sdk=iphonesimulator*] = $(BUILD_DIR)/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)/Host.app/Host
TEST_HOST[sdk=iphoneos*] = $(BUILD_DIR)/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)/Host.app/Host
TEST_HOST[sdk=macosx*] = $(BUILT_PRODUCTS_DIR)/Host.app/Contents/MacOS/Host
