// Linking
MACH_O_TYPE = mh_dylib
PRODUCT_NAME = WCDB

// Packaging
INFOPLIST_FILE = $(SRCROOT)/support/Info.plist
MODULEMAP_FILE = $(SRCROOT)/support/WCDB.modulemap
PRODUCT_BUNDLE_IDENTIFIER = com.Tencent.WCDB

// Preprocessing
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) SQLITE_HAS_CODEC ZLIB_CONST SQLITE_WCDB_CHECKPOINT_HANDLER WCDB_BUILTIN_SQLCIPHER SQLITE_WCDB_DIRTY_PAGE_COUNT
