#include "wcdb.xcconfig"

// Architectures
SUPPORTED_PLATFORMS = iphonesimulator iphoneos

// Build Options
ENABLE_TESTABILITY = NO

// Deployment
STRIP_INSTALLED_PRODUCT = NO
DEPLOYMENT_POSTPROCESSING = NO
COPY_PHASE_STRIP = NO
STRIP_STYLE = debugging

// Linking
MACH_O_TYPE = staticlib
//GENERATE_MASTER_OBJECT_FILE = YES
//PRELINK_LIBS = $(TARGET_BUILD_DIR)/sqlcipher.framework/sqlcipher

// Packaging
INFOPLIST_FILE = $(SRCROOT)/support/Info.plist

// Code Generation
LLVM_LTO = NO
CLANG_ENABLE_CODE_COVERAGE = NO
