#include "Version.xcconfig"

// Linking
MACH_O_TYPE = mh_dylib
PRODUCT_NAME = WCDB

// Packaging
INFOPLIST_FILE = $(SRCROOT)/support/Info.plist
MODULEMAP_FILE = $(SRCROOT)/support/WCDB.modulemap
PRODUCT_BUNDLE_IDENTIFIER = com.Tencent.WCDB

// Preprocessing
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(WCDB_VERSION_DEFINITIONS) SQLITE_HAS_CODEC=1 ZLIB_CONST=1 SQLITE_WCDB_CHECKPOINT_HANDLER=1 WCDB_BUILTIN_SQLCIPHER=1 SQLITE_WCDB_DIRTY_PAGE_COUNT=1 SQLITE_WCDB_SUSPEND=1 SQLITE_WCDB_LOCK_HOOK=1
