#include "../../sqlcipher/macosx/SQLite.xcconfig"

// Linking
MACH_O_TYPE = mh_dylib

// Packaging
INFOPLIST_FILE = $(SRCROOT)/support/Info.plist
MODULEMAP_FILE = $(SRCROOT)/support/WCDB.modulemap
MODULEMAP_PRIVATE_FILE = $(SRCROOT)/support/WCDB.private.modulemap
PRODUCT_BUNDLE_IDENTIFIER = com.Tencent.$(PRODUCT_NAME:rfc1034identifier)

// Versioning
MARKETING_VERSION = 1.1.0

// Preprocessing
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(WCDB_VERSION_DEFINITIONS) $(SQLITE_PREPROCESSOR_DEFINITIONS) ZLIB_CONST=1 SQLITE_WCDB=1
