# Visual Studio Code
.vscode

# Android Studio, Gradle
*.iml
.gradle
.idea
.settings
.project
.classpath
.DS_Store
.externalNativeBuild

# Xcode
*.pbxuser
xcuserdata
xcuserdata/*
*.xcworkspace/*
*.xcworkspace
DerivedData

# WCDB
WCDB.framework

# WeChat
WeChat/conan/*

# wconan
WeChat/.wconan2/
WeChat/wconan_build/
WeChat/wconan_libs/
WeChat/wconan_local_build/
WeChat/wconan_package.lock
WeChat/wconan_publish.py
WeChat/cmake-build-*/
WeChat/compile.log
