[submodule "sqlcipher"]
	path = sqlcipher
	url = https://github.com/Tencent/sqlcipher.git
[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl.git
[submodule "zstd"]
	path = zstd
	url = https://github.com/facebook/zstd.git
