# Visual Studio Code
.vscode

# Visual Studio
.vs

# Android Studio, Gradle
*.iml
.gradle
.idea
.settings
.project
.classpath
.DS_Store
.externalNativeBuild

# Xcode
*.pbxuser
xcuserdata
xcuserdata/*
*.xcworkspace/*
*.xcworkspace
DerivedData

#CMake
tools/version/build/

# WCDB
WCDB.framework
