<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>WTCBaselineBatchWriteBenchmark</key>
		<dict>
			<key>testBaselineBatchWrite</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.0365</real>
					<key>baselineIntegrationDisplayName</key>
					<string>10 Jan 2018, 15:04:04</string>
				</dict>
			</dict>
		</dict>
		<key>WTCBaselineReadBenchmark</key>
		<dict>
			<key>testBaselineRead</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.48</real>
					<key>baselineIntegrationDisplayName</key>
					<string>28 Feb 2018 at 18:26:22</string>
				</dict>
			</dict>
		</dict>
		<key>WTCBaselineWriteBenchmark</key>
		<dict>
			<key>testBaselineWrite</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>4.14</real>
					<key>baselineIntegrationDisplayName</key>
					<string>28 Feb 2018 at 18:26:19</string>
				</dict>
			</dict>
		</dict>
		<key>WTCCipherReadBenchmark</key>
		<dict>
			<key>testCipherRead</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.84</real>
					<key>baselineIntegrationDisplayName</key>
					<string>28 Feb 2018 at 18:26:14</string>
				</dict>
			</dict>
		</dict>
		<key>WTCCipherWriteBenchmark</key>
		<dict>
			<key>testCipherWrite</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>6.65</real>
					<key>baselineIntegrationDisplayName</key>
					<string>28 Feb 2018 at 18:26:05</string>
				</dict>
			</dict>
		</dict>
		<key>WTCInitializationBenchmark</key>
		<dict>
			<key>testInitialization</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.114</real>
					<key>baselineIntegrationDisplayName</key>
					<string>28 Feb 2018 at 18:26:00</string>
				</dict>
			</dict>
		</dict>
		<key>WTCMultithreadReadReadBenchmark</key>
		<dict>
			<key>testMultithreadReadRead</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.46</real>
					<key>baselineIntegrationDisplayName</key>
					<string>28 Feb 2018 at 18:25:50</string>
				</dict>
			</dict>
		</dict>
		<key>WTCMultithreadReadWriteBenchmark</key>
		<dict>
			<key>testMultithreadReadWrite</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.61</real>
					<key>baselineIntegrationDisplayName</key>
					<string>28 Feb 2018 at 19:48:39</string>
				</dict>
			</dict>
		</dict>
		<key>WTCMultithreadWriteWriteBenchmark</key>
		<dict>
			<key>testMultithreadWriteWrite</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>2.24</real>
					<key>baselineIntegrationDisplayName</key>
					<string>28 Feb 2018 at 18:25:55</string>
				</dict>
			</dict>
		</dict>
		<key>WTCSyncWriteBenchmark</key>
		<dict>
			<key>testSyncWrite</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>2.1944</real>
					<key>baselineIntegrationDisplayName</key>
					<string>10 Jan 2018, 15:10:25</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
