// Architectures
SUPPORTED_PLATFORMS = macosx iphoneos iphonesimulator watchos watchsimulator appletvos appletvsimulator
VALID_ARCHS = $(ARCHS_STANDARD)

// Deployment
SKIP_INSTALL = YES
IPHONEOS_DEPLOYMENT_TARGET = 8.0
MACOSX_DEPLOYMENT_TARGET = 10.13
TVOS_DEPLOYMENT_TARGET = 9.0
WATCHOS_DEPLOYMENT_TARGET = 2.0
DEPLOYMENT_POSTPROCESSING = NO
COPY_PHASE_STRIP = NO
STRIP_STYLE = debugging
STRIP_INSTALLED_PRODUCT = NO

// Linking
MACH_O_TYPE = staticlib

// Package
DEFINES_MODULE = NO
INFOPLIST_FILE = $(SRCROOT)/support/Info.plist
PRODUCT_NAME = zstd
PRODUCT_MODULE_NAME = $(PRODUCT_NAME)
PRODUCT_BUNDLE_IDENTIFIER = com.Tencent.zstd.$(PRODUCT_NAME:rfc1034identifier)

// Code Generation
GCC_INLINES_ARE_PRIVATE_EXTERN = YES
GCC_NO_COMMON_BLOCKS = YES

// Custom Compiler Flag
OTHER_CFLAGS = -Wglobal-constructors -Wno-shorten-64-to-32 -fno-sanitize=thread

// Language
GCC_C_LANGUAGE_STANDARD = gnu11

// Language - Modules
CLANG_ENABLE_MODULES = NO
CLANG_MODULES_AUTOLINK = NO

// Warnings - All languages
CLANG_WARN_DOCUMENTATION_COMMENTS = YES
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_INFINITE_RECURSION = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE

// User-Defined
ENABLE_BITCODE = NO
ENABLE_BITCODE[sdk=appletv*] = YES
