#include "base.xcconfig"

// Architectures
ONLY_ACTIVE_ARCH = YES

// Build Options
DEBUG_INFORMATION_FORMAT = dwarf
ENABLE_TESTABILITY = YES

// Deployment
DEPLOYMENT_POSTPROCESSING = NO
COPY_PHASE_STRIP = NO
STRIP_STYLE = debugging

// Linking
DEAD_CODE_STRIPPING = NO

// Code Generation
CLANG_ENABLE_CODE_COVERAGE = YES
GCC_OPTIMIZATION_LEVEL = 0

// Preprocessing
ENABLE_NS_ASSERTIONS = YES
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1
