VALIDATE_PRODUCT = YES
COPY_PHASE_STRIP = NO
OTHER_LDFLAGS[sdk=macosx*] = -framework Cocoa
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @executable_path/../Frameworks
INFOPLIST_FILE = $(SRCROOT)/support/Host_Info.plist
PRODUCT_BUNDLE_IDENTIFIER = com.Tencent.WCDB.$(PRODUCT_NAME)
PRODUCT_NAME = $(TARGET_NAME)
CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Developer
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM =
PROVISIONING_PROFILE_SPECIFIER =
GCC_C_LANGUAGE_STANDARD = gnu11
CLANG_ENABLE_OBJC_WEAK = YES
CLANG_WARN_UNGUARDED_AVAILABILITY = YES_AGGRESSIVE
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
CLANG_ANALYZER_NUMBER_OBJECT_CONVERSION = YES_AGGRESSIVE
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
MTL_FAST_MATH = YES
PRINCIPAL_CLASS =
PRINCIPAL_CLASS[sdk=iphonesimulator*] = UIApplication
PRINCIPAL_CLASS[sdk=iphoneos*] = UIApplication
PRINCIPAL_CLASS[sdk=macosx*] = NSApplication
TARGETED_DEVICE_FAMILY = 1,2
