OTHER_LDFLAGS[sdk=macosx*] = -framework Cocoa
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
INFOPLIST_FILE = $(SRCROOT)/support/Tests_Info.plist
PRODUCT_BUNDLE_IDENTIFIER = com.Tencent.WCDB.$(PRODUCT_NAME)
PRODUCT_NAME = $(TARGET_NAME)
CODE_SIGN_IDENTITY =
CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Developer
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = TCFDHFMX6R
TEST_HOST[sdk=iphonesimulator*] = $(BUILD_DIR)/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)/Host.app/Host
TEST_HOST[sdk=iphoneos*] = $(BUILD_DIR)/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)/Host.app/Host
TEST_HOST[sdk=macosx*] = $(BUILT_PRODUCTS_DIR)/Host.app/Contents/MacOS/Host
GCC_C_LANGUAGE_STANDARD = gnu11
CLANG_ENABLE_OBJC_WEAK = YES
CLANG_WARN_UNGUARDED_AVAILABILITY = YES_AGGRESSIVE
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
CLANG_ANALYZER_NUMBER_OBJECT_CONVERSION = YES_AGGRESSIVE
MTL_ENABLE_DEBUG_INFO = INCLUDE_SOURCE
MTL_FAST_MATH = YES
TARGETED_DEVICE_FAMILY = 1,2

