COMBINE_HIDPI_IMAGES = YES
DEPLOYMENT_POSTPROCESSING = NO
INSTALL_PATH = $(LOCAL_LIBRARY_DIR)/Frameworks
SKIP_INSTALL = YES
STRIP_STYLE = debugging
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
DEAD_CODE_STRIPPING = NO
DYLIB_INSTALL_NAME_BASE = @rpath
MACH_O_TYPE = mh_dylib
OTHER_LDFLAGS[sdk=iphonesimulator*] = -framework UIKit
OTHER_LDFLAGS[sdk=iphoneos*] = -framework UIKit
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks @loader_path/Frameworks
DEFINES_MODULE = YES
FRAMEWORK_VERSION = A
MODULEMAP_FILE = $(SRCROOT)/support/$(PRODUCT_NAME).modulemap
PRODUCT_BUNDLE_IDENTIFIER = com.Tencent.$(PRODUCT_NAME)
PRODUCT_MODULE_NAME = $(PRODUCT_NAME)
PRODUCT_NAME = $(TARGET_NAME)
LIBRARY_SEARCH_PATHS[sdk=macosx*] = $(inherited) $(SDKROOT)/usr/lib/system
CODE_SIGN_IDENTITY =
DEVELOPMENT_TEAM = TCFDHFMX6R
CURRENT_PROJECT_VERSION = 1
VERSION_INFO_PREFIX =
VERSIONING_SYSTEM = apple-generic
OTHER_CFLAGS = $(inherited)
INFOPLIST_FILE = $(SRCROOT)/support/$(PRODUCT_NAME)_Info.plist
FRAMEWORK_SEARCH_PATHS = $(PLATFORM_DIR)/Developer/Library/Frameworks
MACOSX_DEPLOYMENT_TARGET = 10.14
