<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>CipherReadBenchmark</key>
		<dict>
			<key>testCipherRead()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.77</real>
					<key>baselineIntegrationDisplayName</key>
					<string>1 Dec 2017, 16:36:28</string>
				</dict>
			</dict>
		</dict>
		<key>CipherWriteBenchmark</key>
		<dict>
			<key>testCipherWrite()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>2.99</real>
					<key>baselineIntegrationDisplayName</key>
					<string>1 Dec 2017, 16:36:32</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
