// Apple Clang - Language - Objective-C
GCC_ENABLE_OBJC_EXCEPTIONS = YES

// Architectures
SUPPORTED_PLATFORMS = macosx iphonesimulator iphoneos appletvos appletvsimulator

// Packaging
INFOPLIST_FILE = $(SRCROOT)/objc/tests/support/Info.plist

// Testing
TEST_HOST[sdk=iphonesimulator*] = $(BUILD_DIR)/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)/Host.app/Host
TEST_HOST[sdk=iphoneos*] = $(BUILD_DIR)/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)/Host.app/Host
TEST_HOST[sdk=macosx*] = $(BUILT_PRODUCTS_DIR)/Host.app/Contents/MacOS/Host
